{% extends "main/layout.html"%}
{% load i18n %}
{% load static %}
{% block title %}Falah | Reset password{% endblock %}
{% block main %}
<div class="full-width column-start-flex" style="margin-top: 4vh;">
  <form method="POST" id="form">
    {% csrf_token %}
    <div class="full-width center-row-flex">
      <img data-aos="zoom-in" data-aos-duration="1000" class="square-logo" src="{% static 'main/square-logo.jpg'%}">
    </div>
    <div class="full-width center-row-flex" style="margin-bottom: 2vh;">
      <div data-aos="zoom-in" data-aos-duration="1000" class="subtitle">
        Reset password
      </div>
    </div>
    <div class="input-holder full-width center-row-flex">
      <div class="column-start-flex">
        <div class="err" id="email-err">{{ form.email.errors.as_text }}</div>
        <div class="input-name" id="email-caption">Email</div>
        {{ form.email }}
      </div>
    </div>
    <div class="full-width center-row-flex">
      <div data-aos="fade-up" data-aos-duration="1000" class="signin-button" onclick="form.submit()">Reset password</div>
    </div>
  </form>
</div>
{% endblock %}