{% extends "main/layout.html"%}
{% load i18n %}
{% load static %}
{% block title %}Falah | Reset password{% endblock %}
{% block main %}
<div class="full-width center-row-flex" style="margin-top: 4vh">
    <div class="message" style="width: 75vw">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</div>
</div>
<div class="full-width center-row-flex" style="margin-top: 4vh">
    <div class="message" style="width: 75vw">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder for an email from accounts@falah.world.'</div>
</div>
{% endblock %}