{% extends "main/layout.html" %}
{% load static %}
{% block title %}Falah | Sign in{% endblock %}
{% block main %}
<div class="full-width column-start-flex" style="margin-top: 4vh;">
  <form action="/signin/?next={{ next }}" method="POST" id="form">
    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
    <span class="errors">
        {{ hidden_field.errors.as_text }}
    </span>
    {{ hidden_field }}
    {% endfor %}
    <div class="full-width center-row-flex">
      <img data-aos="zoom-in" data-aos-duration="1000" class="square-logo" src="{% static 'main/square-logo.jpg'%}">
    </div>
    <div class="full-width center-row-flex" style="margin-bottom: 2vh;">
      <div data-aos="zoom-in" data-aos-duration="1000" class="subtitle">
        Get started!
      </div>
    </div>
    <div class="full-width center-row-flex" style="margin-bottom: 2vh;">
      <div class="err" id="err">{{ form.non_field_errors }}</div>
    </div>
    <div class="input-holder full-width center-row-flex">
      <div class="column-start-flex">
        <div class="err" id="email-err">{{ form.username.errors.as_text }}</div>
        <div class="input-name" id="email-caption">Email</div>
        <!--<input type="text" id="email" name="email" placeholder="Email address">-->
        {{ form.username }}
      </div>
    </div>
    <div id="password_holder" class="input-holder full-width center-row-flex">
      <div class="column-start-flex">
        <div class="err">{{ form.password.errors.as_text }}</div>
        <div class="input-name" id="password-caption">Password</div>
        <!--<input data-aos="fade-down" data-aos-duration="1000" type="password" id="password" name="password" placeholder="Password">-->
        {{ form.password }}
        <a href="{% url 'password_reset' %}" class="forgot-pword-link">Forgot password?</a>
      </div>
    </div>
    <div class="full-width center-row-flex">
      <div data-aos="fade-up" data-aos-duration="1000" class="signin-button" id="signinbtn" onclick="signin()">Get started</div>
    </div>
  </form>
</div>
<script src="{% static 'main/signin.js' %}" charset="utf-8"></script>
{% endblock %}
